p{color:rgb(124, 60, 60);}
p{font-size:medium}
p{font-weight: 400;}
p{font-family:Impact, Haettenschweiler, 'Arial Narrow Bold';}


body
{
    background-color:rgb(216, 182, 118);
    font-family:serif;
}

#head

{
    color: rgb(160, 7, 40);
    font-family:cursive;
    
}

div
{
max-width: 700px;
margin: auto
;

}